<!doctype html>
<title>Анализ тональности отзывов. Справка</title>
<h1>Анализ тональности отзывов. Справка</h1>
<h2>Задание</h2>
<p>Часто оказывается полезно представить результаты вашей работы в виде интерактивной демонстрации, в которую можно будет вводить какие-то данные и получать результат работы вашей модели. В этом задании вам предлагается реализовать такую демонстрацию для вашего алгоритма анализа тональности отзывов на фильмы, используя flask.</p> 
<p>Даже если вы никогда не сталкивались с веб-программированием и flask'ом - познакомиться с ним совершенно не сложно. Сделать первые шаги вам поможет прекрасный Викиучебник по Flask: <a href = 'https://ru.wikibooks.org/wiki/Flask'>https://ru.wikibooks.org/wiki/Flask</a></p> 
<p>В процессе вы столкнетесь с необходимостью сохранять в файл и загружать питоновский объект - обученный классификатор. Для этого вам пригодится библиотека pickle.</p> 
<h2>Инструкция</h2>
<p>В текстовое поле на странице <a href = 'http://localhost:5000/demo'>http://localhost:5000/demo</a> напишите текст отзыва на англ языке о технике - в ответ получите тональность отзыва.</p> 
<p>P.S. Так как классификатор обучался на малом количестве данных, то возможны ложные предсказания.</p> 