<!doctype html>
<title>Демонстрация алгоритма для заказчика. Живое демо</title>
<h1>Демонстрация алгоритма для заказчика. Живое демо</h1>
<h2>Инструкция</h2>
<p>В текстовое поле напишите текст отзыва на русском языке о смартфоне - в ответ получите тональность отзыва.</p>
<h2>Примеры</h2>
<p>Телефон с батареей 4000 после апдейта живет 3 часа экранного времени. Не рекомендую к покупке!</p> 
<p>Телефон интуитивно понятен. Памяти много. Хороший звук.</p>
<h2>Текстовое поле для отзыва</h2>
<p>Введите/вставьте пример отзыва на телефон:</p>
<form method=post>
    <textarea name=text rows=5 cols=80>{{ text }}</textarea>
    <p></p>
    <input type=submit value="Оценить">
</form>

<h2>Предсказание:</h2>
{{ prediction_message }}
